.App {
  text-align: center;
  background-color: #2f4ccd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the container takes up the full height of the viewport */
}

.center-container {
  text-align: center; /* Center text within the container */
}

.App-header {
  background-color: #360d44;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: rgb(215, 195, 195);
}
